In [5]:
import pandas as pd

In [7]:
series = pd.Series([1,2,3,4,5])
fruits = pd.Series(['apple','banana','mango','kiwi','fig'])
print(type(series))
print(type(fruits))
print(fruits)
print(series)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0     apple
1    banana
2     mango
3      kiwi
4       fig
dtype: object
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
print(fruits.size)
print(fruits.shape)
print(fruits.index)

5
(5,)
RangeIndex(start=0, stop=5, step=1)

In [13]:
s1 = pd.Series([10,20,30,40,50])
print(s1)
print(type(s1))
s1.size
s1.shape
s1.index
s1.values

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

array([10, 20, 30, 40, 50])

In [20]:
# Change index at the time of creation

s1 = pd.Series([10,20,30,40,50], index=["Ten","Twenty","Thirty","Fourty","Fifty"])
print(s1)

Ten       10
Twenty    20
Thirty    30
Fourty    40
Fifty     50
dtype: int64

In [26]:
s1[::-1]

Fifty     50
Fourty    40
Thirty    30
Twenty    20
Ten       10
dtype: int64

In [27]:
s1.iloc[0:4]

Ten       10
Twenty    20
Thirty    30
Fourty    40
dtype: int64

In [ ]:
print(s1['Ten': 'Fifty'])
print(s1.loc['Twenty': 'Fourty'])

Ten       10
Twenty    20
Thirty    30
Fourty    40
Fifty     50
dtype: int64
Twenty    20
Thirty    30
Fourty    40
dtype: int64
20

In [34]:
print(s1.iloc[1])

20

In [43]:
s1['Ten'] = 'Meri Pasand ki Value'
s1
s1[2:5]

Thirty    30
Fourty    40
Fifty     50
dtype: object

In [44]:
# Original Series
series = pd.Series([10, 20, 30, 40, 50])
print("Before:")
print(series)

# Set new index
new_index = ['ali','kashan','yaman','waseem','sattar']
new_series = series.set_axis(new_index)

print("\nAfter set_axis:")
print(new_series)

Before:
0    10
1    20
2    30
3    40
4    50
dtype: int64

After set_axis:
ali       10
kashan    20
yaman     30
waseem    40
sattar    50
dtype: int64

In [45]:
print(new_series['sattar'])
print(new_series['waseem'])

50
40

In [46]:
new_series['kashan':'waseem']

kashan    20
yaman     30
waseem    40
dtype: int64