In [ ]:
import pandas as pd

   Name  Age
0   Ama   23
1  Aman   22